body{
    margin: 0;

    /* background-color: blanchedalmond; */
}

#start_wrapper{
    display: grid;
    grid-template-areas:
    'head'  
    'art1'
    'man1'
    'foot';
    grid-template-rows: 15vh 40vh 50vh 20vh;

    /* background-color: pink; */
}


/* Element */
img{
    height: 100%; /* !! Är detta fult?? */
    width: 100%;
    object-fit: cover;

}

i.material-icons{
    font-size: 2.5rem;
    padding: 1rem;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.search-button{
    cursor: pointer;
    display: inline;
}

/* Slut element */

/* JS Specific */
.jSNav{
    height: 100vh;
    width: 80vw;
    background: hotpink;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.fadeLayer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.show{
    left: 0;
}

.visible{
    display: block;
}

/* slut JS Specific */



/* Alla sidor: */


header{
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.mobileHeader{
    /* Vad kan man ha här då? */
}

.logoDiv{ /*MÅSTE FIXA BÄTTRE!!!*/
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    grid-area: foot;

    background-color: blue;
}

.shoutout{
    color: rgb(161, 161, 161);
    align-self: flex-end;
    padding-right: 1rem;
}

h1{
    font-size: 2rem;
    padding-top: 3rem;
    padding-left: 4rem;
}

a{
    color: rgb(99, 98, 98);
}

a:hover{
    color: rgb(66, 64, 64);
}

/* Slut alla sidor */

/* Start: */

.artStart{
    grid-area: art1;
    text-align: center;
    background-image: url(../img/golf-course-christoph-keil-mobile.jpg) ;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}




.mainStart{
    grid-area: man1;
    
    background-color: chocolate;
}

.containerProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

  
  /* On mouse-over --> skuggar mer */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}



/* Slut start */

/* vad ska hända vid desktop??: */
@media screen and (min-width: 768px){ 
    .artStart{
        background-image: url(../img/golf-course-christoph-keil-desktop.jpg);
    }
        


}